<main class="home-page">
    <section>

        <article>
            <img src="https://user-images.githubusercontent.com/33430655/84995585-79f5bc80-b14c-11ea-849b-a1d1b169dc70.gif" alt="Screenshot/foto van de website voor het project om een webiste te maken speciaal voor Larissa Klaassen">
            <h2>Rijksmuseum - ticketflow</h2>
            <p>
                html, css, javascript, node.js
            </p>
            <p>
                A ticketflow redesign for Rijksmuseum. One of the major challenges was the assecciblity.  
            </p>
            <div>
                <a href="https://rijks-ticket-flow.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/Mokerstier/Rijksmuseum-Ticketflow" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/WD.png" alt="Screenshot/foto van de website voor het project om een webiste te maken speciaal voor Larissa Klaassen">
            <h2>Larissa's sport schedule</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                A site made for Larissa Klaassen. She is a blind topsporter and wanted to have her sports' schedule to be more accessible.
            </p>
            <div>
                <a href="https://manoukk.github.io/web-design-1920/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/web-design-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/RTW.png">
            <h2>A drawing game for movie and show lovers</h2>
            <p>
                html, css, javascript, node.js, socket.io
            </p>
            <p>
                A real time web app where you can play a game by drawing and guessing a movie or show in real time. 
            </p>
            <div>
                <a href="https://still-eyrie-43147.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/real-time-web-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/BT.png">
            <h2>An application for everyone</h2>
            <p>
                html, css, javascript, node.js 
            </p>
            <p>
                An experimental website that I made where filling out a form is accessible to everyone by using progressive enhancement.
            </p>
            <div>
                <a href="https://mysterious-bastion-67115.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/browser-technologies-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/PWA.png">
            <h2>The weather in Amsterdam</h2>
            <p>
                html, css, javascript, node.js 
            </p>
            <p>
                A server side web app to show the weather in Amsterdam and all the other relevant information.
            </p>
            <div>
                <a href="https://heroku-node-manouk.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/progressive-web-apps-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/EHBW.png">
            <h2>First aid with papers</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                A site for children to help them setting up school project papers. With information on which topic to choose and which books to read. 
            </p>
            <div>
                <a href="https://manoukk.github.io/project-1-1920/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/project-1-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/nibud.png">
            <h2>Your money insights</h2>
            <p>
                html, css, javascript, D3.js 
            </p>
            <p>
                A site where you can calculate the money you spend in relation to the country's average. This project is made for NIBUD.
            </p>
            <div>
                <a href="https://manoukk.github.io/NIBUD_datavisualisatie/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/NIBUD_datavisualisatie" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/projectWeek.png">
            <h2>Data visualization sprint</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                A map of Amsterdam to show the difference between cheap and expensive neighborhoods and it's major political views. 
            </p>
            <div>
                <a href="https://manoukk.github.io/DataWeek/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/DataWeek" target="_blank">Github</a>
            </div>
        </article>
    </section>

</main>