<main>
    <section>

        <article>
            <img src="images/WD.png">
            <h2>Het sportschema van Larissa Klaassen </h2>
            <p>Voor dit project ging ik een website maken helemaal speciaal voor Larissa Klaassen. Zij is blind en een topsporter en ze wilde graag…</p>
            <a href="/about">More information &#x2192</a>
        </article>

        <article>
            <img src="images/RTW.png">
            <h2>A drawing game for movie and serie lovers</h2>
            <p>Het doel van dit project was een applicatie maken met real time events. Hiervoor heb ik socket.io gebruikt. Dankzij deze...</p>
            <a href="/about">More information &#x2192</a>
        </article>

        <article>
            <img src="images/BT.png">
            <h2>Een applicatie voor iedereen </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
            <a href="/about">More information &#x2192</a>
        </article>

        <article>
            <img src="images/PWA.png">
            <h2>The currant weather in Amsterdam</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
            <a href="/about">More information &#x2192</a>
        </article>

        <article>
            <img src="images/EHBW.png">
            <h2>EHBW, Eerste hulp bij werkstukken</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
            <a href="/about">More information &#x2192</a>
        </article>

        <article>
            <img src="images/placeholder.png">
            <h2>Inzicht krijgen in je geld</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
            <a href="/about">More information &#x2192</a>
        </article>

        <article>
            <img src="images/placeholder.png">
            <h2>Data visualization sprint</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
            <a href="/about">More information &#x2192</a>
        </article>
    </section>

</main>