<main>
    <section>

        <article>
            <img src="images/WD.png" alt="Screenshot/foto van de website voor het project om een webiste te maken speciaal voor Larissa Klaassen">
            <h2>Het sportschema van Larissa</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                Dit is een website speciaal gemaakt voor Larissa Klaassen. Zij is topsporter en blind en wilde graag dat haar sportschema toegankelijker werd. 
            </p>
            <div>
                <a href="https://manoukk.github.io/web-design-1920/">Live demo</a>
                <a href="https://github.com/ManoukK/web-design-1920">Github</a>
            </div>
        </article>

        <article>
            <img src="images/RTW.png">
            <h2>A drawing game for movie and serie lovers</h2>
            <p>
                html, css, javascript, nodejs, socket.io
            </p>
            <p>
                Dit is een website speciaal gemaakt voor Larissa Klaassen. Zij is topsporter en blind en wilde graag dat haar sportschema toegankelijker werd. 
            </p>
            <div>
                <a href="https://still-eyrie-43147.herokuapp.com/">Live demo</a>
                <a href="https://github.com/ManoukK/real-time-web-1920">Github</a>
            </div>
        </article>

        <article>
            <img src="images/BT.png">
            <h2>Een applicatie voor iedereen</h2>
            <p>
                html, css, javascript, nodejs 
            </p>
            <p>
                Dit is een website speciaal gemaakt voor Larissa Klaassen. Zij is topsporter en blind en wilde graag dat haar sportschema toegankelijker werd. 
            </p>
            <div>
                <a href="https://mysterious-bastion-67115.herokuapp.com/">Live demo</a>
                <a href="https://github.com/ManoukK/browser-technologies-1920">Github</a>
            </div>
        </article>

        <article>
            <img src="images/PWA.png">
            <h2>The weather in Amsterdam</h2>
            <p>
                html, css, javascript, nodejs 
            </p>
            <p>
                Dit is een website speciaal gemaakt voor Larissa Klaassen. Zij is topsporter en blind en wilde graag dat haar sportschema toegankelijker werd. 
            </p>
            <div>
                <a href="https://heroku-node-manouk.herokuapp.com/">Live demo</a>
                <a href="https://github.com/ManoukK/progressive-web-apps-1920">Github</a>
            </div>
        </article>

        <article>
            <img src="images/EHBW.png">
            <h2>Eerste hulp bij werkstukken</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                Dit is een website speciaal gemaakt voor Larissa Klaassen. Zij is topsporter en blind en wilde graag dat haar sportschema toegankelijker werd. 
            </p>
            <div>
                <a href="https://manoukk.github.io/project-1-1920/">Live demo</a>
                <a href="https://github.com/ManoukK/project-1-1920">Github</a>
            </div>
        </article>

        <article>
            <img src="images/placeholder.png">
            <h2>Inzicht krijgen in je geld</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                Dit is een website speciaal gemaakt voor Larissa Klaassen. Zij is topsporter en blind en wilde graag dat haar sportschema toegankelijker werd. 
            </p>
            <div>
                <a href="https://manoukk.github.io/NIBUD_datavisualisatie/">Live demo</a>
                <a href="https://github.com/ManoukK/NIBUD_datavisualisatie">Github</a>
            </div>
        </article>

        <article>
            <img src="images/placeholder.png">
            <h2>Data visualization sprint</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                Dit is een website speciaal gemaakt voor Larissa Klaassen. Zij is topsporter en blind en wilde graag dat haar sportschema toegankelijker werd. 
            </p>
            <div>
                <a href="https://manoukk.github.io/DataWeek/">Live demo</a>
                <a href="https://github.com/ManoukK/DataWeek">Github</a>
            </div>
        </article>
    </section>

</main>