<main class="home-page">
    <section>

        <article>
            <div id="GDA">
                <a href="https://www.cmd-amsterdam.nl/portfolio/rijksmuseum-ticketflow/" target="_blank"><img src="/images/gda20sticker.png" alt="golden dot award nominated sticker"> </a>
            </div>
            <img src="https://user-images.githubusercontent.com/33430655/84995585-79f5bc80-b14c-11ea-849b-a1d1b169dc70.gif" alt="Screenshot/foto van de website voor het project om een webiste te maken speciaal voor Larissa Klaassen">
            <h2>Rijksmuseum - ticketflow</h2>
            <p>
                html, css, javascript, node.js
            </p>
            <p>
                A ticketflow redesign to make the experience of buying online tickets more friendly and accessible. Made in collaboration with Rijksmuseum.
            </p>
            <div>
                <a href="https://rijks-ticket-flow.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/Mokerstier/Rijksmuseum-Ticketflow" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/WD.png" alt="Screenshot/foto van de website voor het project om een webiste te maken speciaal voor Larissa Klaassen">
            <h2>Larissa's sport schedule</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                A site made for Larissa Klaassen. She's a blind professional athlete and wanted her sports schedule to be more accessible.
            </p>
            <div>
                <a href="https://manoukk.github.io/web-design-1920/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/web-design-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/RTW.png">
            <h2>A drawing game for movie & show lovers</h2>
            <p>
                html, css, javascript, node.js, socket.io
            </p>
            <p>
                A real time web app where you play a game of guessing movies and shows by drawing in real time. 
            </p>
            <div>
                <a href="https://still-eyrie-43147.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/real-time-web-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/BT.png">
            <h2>An application for everyone</h2>
            <p>
                html, css, javascript, node.js 
            </p>
            <p>
                An experimental website where I've made filling out a form accessible to everyone by using progressive enhancement.
            </p>
            <div>
                <a href="https://mysterious-bastion-67115.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/browser-technologies-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/PWA.png">
            <h2>The weather in Amsterdam</h2>
            <p>
                html, css, javascript, node.js 
            </p>
            <p>
                A server side web app which shows weather forecast information for Amsterdam.
            </p>
            <div>
                <a href="https://heroku-node-manouk.herokuapp.com/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/progressive-web-apps-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/EHBW.png">
            <h2>First aid with papers</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                A site for kids which guides them through setting up school project papers. Also includes information on what topic to choose and books to read. 
            </p>
            <div>
                <a href="https://manoukk.github.io/project-1-1920/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/project-1-1920" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/nibud.png">
            <h2>Your money insights</h2>
            <p>
                html, css, javascript, D3.js 
            </p>
            <p>
                A calculation tool where you can see your expenses in relation to the average Dutch person. Made in collaboration with NIBUD.
            </p>
            <div>
                <a href="https://manoukk.github.io/NIBUD_datavisualisatie/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/NIBUD_datavisualisatie" target="_blank">Github</a>
            </div>
        </article>

        <article>
            <img src="images/projectWeek.png">
            <h2>Data visualization sprint</h2>
            <p>
                html, css, javascript 
            </p>
            <p>
                A data visualization map of Amsterdam to show differences in low- and high property values per neighborhood and their major political views. 
            </p>
            <div>
                <a href="https://manoukk.github.io/DataWeek/" target="_blank">Live demo</a>
                <a href="https://github.com/ManoukK/DataWeek" target="_blank">Github</a>
            </div>
        </article>
    </section>

</main>