<header>
    <section>
        <h1>welcome</h1>
        <p> Enjoy the work I've put on my portfolio.
            For questions you can always email me <a href="">here</a>.
        </p>
        <p>
            Make sure to take a look at my <a href="">LinkedIn page</a> for 
            references, job experiences, past educations and 
            various skills.
        </p>
    </section>
</header>
