<header>
    <svg id="svg1" width="512" height="56" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <rect stroke="#000" id="svg_4" height="41" width="491" y="7.157051" x="7.928424" fill-opacity="null" stroke-opacity="null" stroke-width="5" fill="none"/>
    </svg>
    <svg id="svg2" width="512" height="56" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <rect stroke="#000" id="svg_4" height="41" width="491" y="7.157051" x="7.928424" fill-opacity="null" stroke-opacity="null" stroke-width="5" fill="none"/>
    </svg>
    <section>
        <h1>welcome</h1>
        <p> 
            Enjoy the work I've put on my portfolio.
            For more information, work or questions take a look at the links down below.
        </p>
        <article>
            <a href="">Github</a>
            <a href="">LinkedIn</a>
            <a href="">E-mail</a>
        </article>
    </section>
</header>
