<header class="header">
    <!-- <svg id="svg1" width="512" height="56" xmlns="http://www.w3.org/2000/svg">
        <rect stroke="#000" id="svg_4" height="41" width="491" y="7.157051" x="7.928424" fill-opacity="null" stroke-opacity="null" stroke-width="5" fill="none"/>
    </svg>
    <svg id="svg2" width="512" height="56" xmlns="http://www.w3.org/2000/svg">
        <rect stroke="#000" id="svg_4" height="41" width="491" y="7.157051" x="7.928424" fill-opacity="null" stroke-opacity="null" stroke-width="5" fill="none"/>
    </svg> -->
    <section>
        <img src="/images/tape.png" alt="piece of tape">
        <img src="/images/tape.png" alt="piece of tape">
        <h1>welcome</h1>
        <p> 
            Enjoy the work I've put on my portfolio.
            For more information, work or questions take a look at the links down below.
        </p>
        <article>
            <span>
                <a href="https://github.com/ManoukK">Github</a>
                <svg width="327" height="181" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="#000" d="m201.623158,24.953125c0,0 -3.70596,0 -17.294479,0c-16.059159,0 -28.412359,0 -40.765558,0c-12.353199,0 -27.508403,-1.508575 -39.530238,1c-9.110117,1.900993 -16.373003,4.357241 -23.471079,7c-6.544099,2.436504 -11.776075,5.422379 -18.529799,11c-5.536942,4.572735 -14.290305,12.082432 -25.941719,30c-7.480489,11.50351 -10.180923,19.949707 -12.353199,29c-1.433197,5.971092 -1.23532,10 -1.23532,13c0,1 0.241844,2.648857 4.94128,5c5.254129,2.628654 10.987752,7.197296 24.706399,13c9.792789,4.142151 19.765119,8 27.177039,10c11.117879,3 22.1186,4.488739 33.353638,6c11.034979,1.48436 22.184451,2.499237 33.353638,3c9.867442,0.442398 21.000439,0 35.824278,0c9.88256,0 19.765119,0 30.882999,-2c11.117879,-2 22.471849,-3.279068 33.353638,-6c6.356085,-1.58931 16.93436,-4.672607 24.706399,-7c4.776988,-1.430496 12.516285,-3.75531 17.294479,-6c7.704652,-3.619446 11.016092,-6.386871 12.353199,-9c0.94549,-1.847755 1.613931,-6.048332 2.47064,-11c1.247384,-7.20974 2.47064,-14 2.47064,-21c0,-4 1.29888,-7.298698 0,-9c-1.452202,-1.902115 -7.41192,-6 -9.88256,-9c-4.94128,-6 -5.250901,-7.827232 -16.059159,-15c-3.44448,-2.285881 -10.955171,-5.288589 -16.059159,-7c-7.218128,-2.420303 -13.435405,-4.343151 -19.765119,-6c-4.846297,-1.268555 -9.88256,-2 -11.117879,-2c-1.23532,0 -1.23532,0 -1.23532,0l0,1l0,0" id="svg_3" fill-opacity="null" stroke-opacity="null" stroke-width="4" fill="none"/>
                </svg>
            </span>
            <span>
                <a href="https://www.linkedin.com/in/manoukk/">LinkedIn</a>
                <svg width="327" height="181" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="#000" d="m201.623158,24.953125c0,0 -3.70596,0 -17.294479,0c-16.059159,0 -28.412359,0 -40.765558,0c-12.353199,0 -27.508403,-1.508575 -39.530238,1c-9.110117,1.900993 -16.373003,4.357241 -23.471079,7c-6.544099,2.436504 -11.776075,5.422379 -18.529799,11c-5.536942,4.572735 -14.290305,12.082432 -25.941719,30c-7.480489,11.50351 -10.180923,19.949707 -12.353199,29c-1.433197,5.971092 -1.23532,10 -1.23532,13c0,1 0.241844,2.648857 4.94128,5c5.254129,2.628654 10.987752,7.197296 24.706399,13c9.792789,4.142151 19.765119,8 27.177039,10c11.117879,3 22.1186,4.488739 33.353638,6c11.034979,1.48436 22.184451,2.499237 33.353638,3c9.867442,0.442398 21.000439,0 35.824278,0c9.88256,0 19.765119,0 30.882999,-2c11.117879,-2 22.471849,-3.279068 33.353638,-6c6.356085,-1.58931 16.93436,-4.672607 24.706399,-7c4.776988,-1.430496 12.516285,-3.75531 17.294479,-6c7.704652,-3.619446 11.016092,-6.386871 12.353199,-9c0.94549,-1.847755 1.613931,-6.048332 2.47064,-11c1.247384,-7.20974 2.47064,-14 2.47064,-21c0,-4 1.29888,-7.298698 0,-9c-1.452202,-1.902115 -7.41192,-6 -9.88256,-9c-4.94128,-6 -5.250901,-7.827232 -16.059159,-15c-3.44448,-2.285881 -10.955171,-5.288589 -16.059159,-7c-7.218128,-2.420303 -13.435405,-4.343151 -19.765119,-6c-4.846297,-1.268555 -9.88256,-2 -11.117879,-2c-1.23532,0 -1.23532,0 -1.23532,0l0,1l0,0" id="svg_3" fill-opacity="null" stroke-opacity="null" stroke-width="4" fill="none"/>
                </svg>
            </span>
            <span>
                <a href="mailto:manouk.kappe21@gmail.com">E-mail</a>
                <svg width="327" height="181" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="#000" d="m201.623158,24.953125c0,0 -3.70596,0 -17.294479,0c-16.059159,0 -28.412359,0 -40.765558,0c-12.353199,0 -27.508403,-1.508575 -39.530238,1c-9.110117,1.900993 -16.373003,4.357241 -23.471079,7c-6.544099,2.436504 -11.776075,5.422379 -18.529799,11c-5.536942,4.572735 -14.290305,12.082432 -25.941719,30c-7.480489,11.50351 -10.180923,19.949707 -12.353199,29c-1.433197,5.971092 -1.23532,10 -1.23532,13c0,1 0.241844,2.648857 4.94128,5c5.254129,2.628654 10.987752,7.197296 24.706399,13c9.792789,4.142151 19.765119,8 27.177039,10c11.117879,3 22.1186,4.488739 33.353638,6c11.034979,1.48436 22.184451,2.499237 33.353638,3c9.867442,0.442398 21.000439,0 35.824278,0c9.88256,0 19.765119,0 30.882999,-2c11.117879,-2 22.471849,-3.279068 33.353638,-6c6.356085,-1.58931 16.93436,-4.672607 24.706399,-7c4.776988,-1.430496 12.516285,-3.75531 17.294479,-6c7.704652,-3.619446 11.016092,-6.386871 12.353199,-9c0.94549,-1.847755 1.613931,-6.048332 2.47064,-11c1.247384,-7.20974 2.47064,-14 2.47064,-21c0,-4 1.29888,-7.298698 0,-9c-1.452202,-1.902115 -7.41192,-6 -9.88256,-9c-4.94128,-6 -5.250901,-7.827232 -16.059159,-15c-3.44448,-2.285881 -10.955171,-5.288589 -16.059159,-7c-7.218128,-2.420303 -13.435405,-4.343151 -19.765119,-6c-4.846297,-1.268555 -9.88256,-2 -11.117879,-2c-1.23532,0 -1.23532,0 -1.23532,0l0,1l0,0" id="svg_3" fill-opacity="null" stroke-opacity="null" stroke-width="4" fill="none"/>
                </svg>
            </span>
            <span>
                <a href="/about">About me</a>
                <svg width="327" height="181" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="#000" d="m201.623158,24.953125c0,0 -3.70596,0 -17.294479,0c-16.059159,0 -28.412359,0 -40.765558,0c-12.353199,0 -27.508403,-1.508575 -39.530238,1c-9.110117,1.900993 -16.373003,4.357241 -23.471079,7c-6.544099,2.436504 -11.776075,5.422379 -18.529799,11c-5.536942,4.572735 -14.290305,12.082432 -25.941719,30c-7.480489,11.50351 -10.180923,19.949707 -12.353199,29c-1.433197,5.971092 -1.23532,10 -1.23532,13c0,1 0.241844,2.648857 4.94128,5c5.254129,2.628654 10.987752,7.197296 24.706399,13c9.792789,4.142151 19.765119,8 27.177039,10c11.117879,3 22.1186,4.488739 33.353638,6c11.034979,1.48436 22.184451,2.499237 33.353638,3c9.867442,0.442398 21.000439,0 35.824278,0c9.88256,0 19.765119,0 30.882999,-2c11.117879,-2 22.471849,-3.279068 33.353638,-6c6.356085,-1.58931 16.93436,-4.672607 24.706399,-7c4.776988,-1.430496 12.516285,-3.75531 17.294479,-6c7.704652,-3.619446 11.016092,-6.386871 12.353199,-9c0.94549,-1.847755 1.613931,-6.048332 2.47064,-11c1.247384,-7.20974 2.47064,-14 2.47064,-21c0,-4 1.29888,-7.298698 0,-9c-1.452202,-1.902115 -7.41192,-6 -9.88256,-9c-4.94128,-6 -5.250901,-7.827232 -16.059159,-15c-3.44448,-2.285881 -10.955171,-5.288589 -16.059159,-7c-7.218128,-2.420303 -13.435405,-4.343151 -19.765119,-6c-4.846297,-1.268555 -9.88256,-2 -11.117879,-2c-1.23532,0 -1.23532,0 -1.23532,0l0,1l0,0" id="svg_3" fill-opacity="null" stroke-opacity="null" stroke-width="4" fill="none"/>
                </svg>
            </span>
        </article>
    </section>
</header>
