<%- include ('partials/head.ejs') %>
<nav>
    <a href="/">< Back to home</a>
</nav>

<%- include ('partials/name.ejs') %>

<main class="about-page">
    <h1>About me</h1>
    <section class="about-info-1 setIndex">
        <article>
            <h2>Who am I?</h2>
            <p>
                <img src="/images/paperclip.png" alt="A paperclip">
                <img src="/images/ditBenIk.jpg" alt="A picture of me in Venetië">
                Hi! My name is Manouk Kappé. I’m a communication and multimedia design (CMD) student. I’m currently in my third year at the University of Applied Sciences. 
            </P>
            <p>
                I enjoy being creative, especially handcrafts. I create, knit, embroider and craft all sorts of stuff for fun. But besides that I’m also really interested in web-technology. Therefore being a multimedia design student offered me the perfect mix of both being creative and making projects for the web.
            </p>
            <p>
                I’ve been fully focused on front end development for about a year now. I’ve always been interested but it wasn’t until my third study year that I finally went for it!
            </P>
            <p>
                I’ve followed the web development minor at the University of Applied Sciences in Amsterdam. I’ve come to learn what I love and what I think is really important in the online world. The most exciting part about this profession is all the challenges I’ve yet to face and conquer.
            </p>

            <h2>What I think is important</h2>
            <p>
                My interests are mainly in accessibility. I have learned a lot about it during my study and researched all kinds of accessibility options for web. It surprised me that the internet isn’t as accessible as it’s supposed to be, since the internet is supposed to be for everyone. In my opinion this isn’t right. And that’s what I believe should change.
            </P>
            <p>
                I want to fight for this. And with my, still expanding, experience and knowledge I hope to make projects and create environments that are accessible for everyone.
            </p>
        </article>
    </section >
</main>


<%- include ('partials/footer.ejs') %>