<%- include ('partials/head.ejs') %>
<nav>
    <a href="/">< Back to home</a>
</nav>

<main class="about-page">
    <h1>About me</h1>
    <section class="about-info-1">
        <!-- <button id="button-info-1">About me</button> -->
        <article>
            <button id="button-info-1">About me</button>
            <h2>titel 1 titel 1 titel 1</h2>
            <p>
                <img src="/images/placeholder.png">
                Ik ben Manouk Kappe en studeer Communicatie en Multimedia Design (CMD). Ik zit nu in het derde jaar van de opleiding en volg momenteel de minor Web Development. Ik vind het ontzettend leuk om creatief bezig te zijn, vooral met mijn handen. Ik maak, brei, borduur, knutsel graag dingen maar heb ook veel interesse in de technologie en het online web. CMD is daarvoor de perfecte combinatie. Technisch bezig zijn met een vleugje creativiteit. 
            </p>
        </article>
    </section >

    <section class="about-info-2">
        <article>
            <button id="button-info-2">Mijn pad</button>
            <h2>titel 2</h2>
            <p>
                Sinds een jaar heb ik mij volledig gefocused op front end development. Ik had er altijd al interesse in en in het derde jaar durfde ik eindelijk ervoor te gaan! Ik heb de minor web development gevolgd op de HvA. Daar heb ik ontzettend veel kennis opgedaan en ontdekt wat ik belangrijk vind voor op het web. Het leuke aan dit vak is dat er overal uitdagingen in liggen. Ik hou van problemen oplossen en puzzelen en eigenlijk is coderen een grote puzzel/probleem oplossen. 
            </p>
        </article>
    </section>

    <section class="about-info-3">
        <article>
            <button id="button-info-3">missie en doelen</button>
            <h2>titel 3</h2>
            <p>
                Dat is voornamelijk toegankelijkheid. Wij hebben daar veel geleerd en onderzoek gedaan naar de toegankelijkheid op het web en het verbaasde me dat het internet eigenlijk nog lang niet voor iedereen te gebruiken is. Dit zou eigenlijk niet mogen want tenslotte is het internet voor iedereen. 
            </p>
        </article>
    </section>
</main>


<%- include ('partials/footer.ejs') %>