<%- include ('partials/head.ejs') %>
<nav>
    <a href="/">< Back to home</a>
</nav>

<%- include ('partials/name.ejs') %>

<main class="cv-page">
    <h1>Experiences</h1>
    <h2>Work and internships</h2>
    <section>
       <article>
            <p>04/2019 - 06/2019</p>
            <p>Amsterdam</p>
            <h3>Klup</h3>
            <p>UX & design</p>
        </article>

       <article>
            <p>2017 - 2019</p>
            <p>Amsterdam</p>
            <h3>Spar University</h3>
            <p>Allround employee</p>
        </article>

       <article>
            <p>09/2016 - 03/2017</p>
            <p>Hilversum</p>
            <h3>RTL Nederland</h3>
            <p>Promoregisseur</p>
        </article>

       <article>
            <p>02/2016 - 07/2016</p>
            <p>Amsterdam</p>
            <h3>Videologic</h3>
            <p>Filmmaker & editor</p>
        </article>

       <article>
            <p>08/2014 - 02/2015</p>
            <p>Amsterdam</p>
            <h3>MaMedia</h3>
            <p>Filmmaker & editor</p>
        </article>

        <article>
            <p>2015 - 2017</p>
            <p>Enkhuizen</p>
            <h3>Meer Enkhuizen</h3>
            <p>Keuken, afwas</p>
        </article>

        <article>
            <p>2012 - 2017</p>
            <p>Enkhuizen</p>
            <h3>Het strandpaviljoen</h3>
            <p>Keuken, afwas</p>
        </article>
    </section>

    <h2>Studies</h2>
    <section>
        <article>
            <p>2017 - heden</p>
            <p>Amsterdam</p>
            <h3>Hogeschool van Amsterdam</h3>
            <p>Communicatie en Multimedia Design, HBO</p>
        </article>

        <article>
            <p>2013 - 2017</p>
            <p>Amsterdam</p>
            <h3>MediaCollege</h3>
            <p>Audiovisuele Techniek, niveau 4 MBO</p>
        </article>

        <article>
            <p>2009 - 2013</p>
            <p>Grootebroek</p>
            <h3>Martinus College</h3>
            <p>VMBO theoretisch</p>
        </article>
    </section>
</main>


<%- include ('partials/footer.ejs') %>