:root{
    /* --yellow: #f5b257;
    --pink: #Fccbbb;
    --peach: #e37957;
    --brown: #dba686;
    --white: white; */

    --darkGreen: #3c6654;
    --green: #98b08b;
    --lightGreen: #d8deba;

    --lessSoftPink: #ff9393;
    --softSoftPink: #ffdfdf;
    --ultrasoftPink: #ffefef;

    --golddark: #ffd700;
    --gold: #ffe766;
    --goldlight: #fff3b2;

    /* --pink: #feb9b7; */
    --softPink: #dba686;
    --pink: #e37957;
    --pinkShadow: #eeae9a;
    --white: white;
    --blue: lightblue; 

    /* --lightPink: lightpink;
    --orange: coral;
    --darkOrange: darkorange; */
    --lightPink: lightpink;
    --orange: #a1d000;
    --darkOrange: #7EBDC2;

    /* #FDE74C DE6B48 9368B7 F9A620 FFB17A*/
}

::-webkit-scrollbar {
    width: 25px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    /* aanpassen */
    background-color: var(--white);
    background-image: url("/images/cutLine.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    /* aanpassen */
    background-image: url("/images/scissor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    background-image: url(/images/papertexture2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #d1f0e5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

header {
    overflow-x: hidden;
    position: relative;
}

header > section {
    position: relative;
    width: 60%;
    height: auto;
    margin: 5em auto;
    padding: 0.5em;
    color: black;
    background-color: #fbecc6;
}

header section > img {
    position: absolute;
    width: 8em;

}

header section > img:first-of-type {
    top: -2em;
    left: -3em;
    transform: rotate(180deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

header section > img:last-of-type {
    top: -2em;
    right: -3em;
}

h1 {
    text-align: center;
}

header section p {
    max-width: 25em;
    margin: 0 auto;
}

header svg {
    position: absolute;
    margin-top: 9em;
    z-index: -1;
}

#svg1 {
    margin-left: -11em;
}

#svg2 {
    right: -10em;
}

header svg > rect {
    /* aanpassen */
    stroke: var(--darkGreen);
    stroke-dasharray: 30;
}

header:hover svg > rect {
    stroke: var(--darkGreen);
    animation: dash 1s linear infinite;
}

@keyframes dash {
    to {
      stroke-dashoffset: 120;
    }
}

header section > article {
    /* position: relative; */
    background-color: transparent;
    box-shadow: none;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 0.5em;
    margin: 0em auto;
}

header article span {
    background-image: url(/images/pinkWashiTape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0.5em auto;
    padding: 1em;
    text-align: center;
    width: 5em;
    display: inline;
}

header article a {
    position: relative;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color: black;
    z-index: 3;
}

header article span svg {
    position: absolute;
    z-index: 1;
    fill: none;
    margin: -5em 0em 0em -12em;
    /* aanpassen (geen scale gebruiken) */
    transform: scale(0.5);
}

/* article span:first-of-type svg {
    margin: -5em 0em 0em -12em;
}

article span:nth-of-type(2) svg {
    margin: -5em 0em 0em -12em;
} */

header article svg path {
    opacity: 0;
}

header article a:hover + svg path{
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s ease-in forwards;
}

header article a:focus + svg path{
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s ease-in forwards;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}

/* main {
    width: 80%;
} */

.home-page > section {
    display: flex;
    flex-wrap: wrap;
    padding: 0em 1em;
    width: 80%;
    margin: 0em auto;
}

.home-page article {
    position: relative;
    margin: 2em auto;
    width: 25em;
    /* background-color: var(--white); */
    padding: 1em;
    display: inline-block;
    box-shadow: 10px 10px 16px -9px#484848;
}

.home-page article {
    background: linear-gradient(
        to bottom,
        var(--blue) 5%,
        var(--white) 0%);
    background-size: 100% 20px;
}

.home-page article img {
    width: 100%;
    height: 13.5em;
    background-color: var(--softPink);
    border: 5px solid lightblue;
}

.home-page article h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color: var(--pink);
    width: 80%;
    margin: 1em auto 0em auto;
    height: 3em;
}

.home-page article p:last-of-type {
    width: 80%;
    margin: 1em auto 3em auto;
    /* height: 4em; */
}

.home-page article p:first-of-type {
    color: var(--softPink);
    text-align: center;
}

.home-page article p:last-of-type {
    height: 3.5em;
}

.home-page div {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
}

.home-page div > a {
    padding: 1em;
}

/* aanpassen */
.home-page a {
    position: relative;
    margin: 0em auto;
    display: inline-block;
    text-decoration: none;

    color: black;
    /* code from: https://css-tricks.com/having-fun-with-link-hover-effects/ */
    background:
    linear-gradient(
    to bottom, var(--pink) 0%,
    var(--pink) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;
}

.home-page a:hover {
    background-size: 4px 50px;
}

.home-page a:focus {
    background-size: 4px 50px;
}







