:root{
    --yellow: #f5b257;
    --pink: #Fccbbb;
    --peach: #e37957;
    --brown: #dba686;
    --white: white;
}

::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background-color: var(--brown);
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--peach);
}

/* ::-webkit-scrollbar-track:hover {
    background-color: var(--brown);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--peach);
} */

body {
    background-color: var(--pink);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header > section {
    background-color: var(--yellow);
    width: 50%;
    margin: 2em auto 0 auto;
    padding: 2em;
    border-radius: 50px;
    color: black;
}

header > section h1 {
    text-align: center;
}

header > section p > a {
    text-decoration: none;
    color: black;
    background:
        linear-gradient(
        to bottom, var(--peach) 0%,
        var(--peach) 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;
}

#svg1 {
    position: absolute;
    margin-top: 5em;
    margin-left: -13em;
    /* top: 0;
    margin-left: -25em; */
}

#svg2 {
    position: absolute;
    margin-top: 5em;
    right: -10em;
}

header svg > rect {
    stroke: var(--yellow);
    stroke-dasharray: 30;
}

header:hover svg > rect {
    stroke: var(--yellow);
    animation: dash 1s linear infinite;
}

@keyframes dash {
    to {
      stroke-dashoffset: 120;
    }
}

main > section {
    display: flex;
    flex-wrap: wrap;
}

article {
    position: relative;
    /* margin: 1em; */
    margin: 2em auto;
    width: 20em;
    background-color: var(--white);
    padding: 1em;
    display: inline-block;
    box-shadow: 10px 10px 16px -9px#484848;
}

article img {
    width: 100%;
    background-color: var(--brown);
}

article h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color: var(--peach);
}

article p {
    margin-bottom: 4em;
}

article > a {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0em 1em 1em 0em;
    padding: 1em;
    text-decoration: none;
    color: black;
    /* code from: https://css-tricks.com/having-fun-with-link-hover-effects/ */
    background:
    linear-gradient(
    to bottom, var(--yellow) 0%,
    var(--yellow) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;
}

a:hover {
    background-size: 4px 50px;
}

 a:focus {
    background-size: 4px 50px;
}

footer {
    margin-top: 2em;
}

footer a {
    font-weight: 900;
    text-decoration: none;
    color: var(--darkGreen);
    width: 100%;
    display: block;
    text-align: center;
    padding: 1em 0em;
    background:
    linear-gradient(
    to bottom, var(--peach) 0%,
    var(--peach) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    transition: background-size .2s;
    background-size: 4px 50px;
}

footer a:hover {
    background-size: 4px 4px;
}

footer a:focus {
    text-decoration: none;
}
