:root{
    /* --yellow: #f5b257;
    --pink: #Fccbbb;
    --peach: #e37957;
    --brown: #dba686;
    --white: white; */

    --green: #98b08b;
    --lightGreen: #d8deba;
    --darkGreen: #3c6654;
    --softSoftPink: #ffdfdf;
    /* --pink: #feb9b7; */
    --softPink: #dba686;
    --pink: #e37957;
    --white: white;

    --blue: lightblue; 
    --lightPink: lightpink;
    --orange: coral;
    --darkOrange: darkorange;
}

::-webkit-scrollbar {
    width: 25px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    /* aanpassen */
    background-color: var(--white);
    background-image: url("/images/cutLine.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    /* aanpassen */
    /* background-color: var(--darkGreen); */
    background-image: url("/images/scissor.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    background-image: url(/images/papertexture2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* aanpassen */
    /* background-color: var(--softSoftPink); */
    background-color: #d1f0e5;
    /* background-color: #e3c6a8; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    overflow-x: hidden;
    position: relative;
}

header > section {
    position: relative;
    width: 50%;
    height: auto;
    margin: 5em auto;
    padding: 0.5em;
    color: black;
    /* background-color: #f8dce8; */
    background-color: #fbecc6;
}

header section > img {
    position: absolute;
    width: 8em;

}

header section > img:first-of-type {
    top: -2em;
    left: -3em;
    transform: rotate(180deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

header section > img:last-of-type {
    top: -2em;
    right: -3em;
}

header section h1 {
    text-align: center;
}

header section p {
    max-width: 25em;
    margin: 0 auto;
}

header svg {
    position: absolute;
    margin-top: 9em;
    z-index: -1;
}

#svg1 {
    margin-left: -11em;
}

#svg2 {
    right: -10em;
}

header svg > rect {
    /* aanpassen */
    stroke: var(--darkGreen);
    stroke-dasharray: 30;
}

header:hover svg > rect {
    stroke: var(--darkGreen);
    animation: dash 1s linear infinite;
}

@keyframes dash {
    to {
      stroke-dashoffset: 120;
    }
}

header section > article {
    /* position: relative; */
    background-color: transparent;
    box-shadow: none;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 0.5em;
}

header article span {
    background-image: url(/images/pinkWashiTape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0.5em auto;
    padding: 1em;
    text-align: center;
    width: 5em;
    display: inline;
}

header article a {
    position: relative;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color: black;
    z-index: 3;
}

header article span svg {
    position: absolute;
    z-index: 1;
    fill: none;
    margin: -5em 0em 0em -12em;
    /* aanpassen (geen scale gebruiken) */
    transform: scale(0.5);
}

/* article span:first-of-type svg {
    margin: -5em 0em 0em -12em;
}

article span:nth-of-type(2) svg {
    margin: -5em 0em 0em -12em;
} */

header article svg path {
    opacity: 0;
}

header article a:hover + svg path{
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s ease-in forwards;
}

header article a:focus + svg path{
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s ease-in forwards;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}

/* main {
    width: 80%;
} */

.home-page > section {
    display: flex;
    flex-wrap: wrap;
    padding: 0em 1em;
    width: 80%;
    margin: 0em auto;
}

.home-page article {
    position: relative;
    margin: 2em auto;
    width: 25em;
    /* background-color: var(--white); */
    padding: 1em;
    display: inline-block;
    box-shadow: 10px 10px 16px -9px#484848;
}

.home-page article {
    background: linear-gradient(
        to bottom,
        var(--blue) 5%,
        var(--white) 0%);
    background-size: 100% 20px;
}

.home-page article img {
    width: 100%;
    background-color: var(--softPink);
}

.home-page article h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color: var(--pink);
    width: 80%;
    margin: 1em auto 0em auto;
    /* height: 3em; */
}

.home-page article p {
    width: 80%;
    margin: 1em auto 1em auto;
}

.home-page article p:first-of-type {
    color: var(--softPink);
    text-align: center;
}

.home-page article p:last-of-type {
    height: 3.5em;
}

/* main section article > a {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0em 1em 1em 0em;
    padding: 1em;
} */

.home-page div {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
}

.home-page div > a {
    padding: 1em;
}

/* aanpassen */
.home-page a {
    position: relative;
    margin: 0em auto;
    display: inline-block;
    text-decoration: none;

    color: black;
    /* code from: https://css-tricks.com/having-fun-with-link-hover-effects/ */
    background:
    linear-gradient(
    to bottom, var(--pink) 0%,
    var(--pink) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;
}

.home-page a:hover {
    background-size: 4px 50px;
}

.home-page a:focus {
    background-size: 4px 50px;
}

footer {
    margin-top: 2em;
}

footer a {
    font-weight: 900;
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    padding: 1em 0em;
    background:
    linear-gradient(
    to bottom, var(--blue) 0%,
    var(--blue) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    transition: background-size .2s;
    background-size: 4px 50px;
}

footer a:hover {
    background-size: 4px 4px;
}

footer a:focus {
    text-decoration: none;
}

.about-page section {
    position: absolute;
}

.about-page article{
    /* position: relative; */
    /* background-color: violet; */
    height: auto;
    width: 70%;
    height: 25em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 0px 0px 10px 10px;
    line-height: 1.6;
    font-size: 1.1em;
}

.about-info-1 img {
    margin-right: 2em;
    width: 15em;
    height: 15em;
    object-fit: cover;
    transform: rotate(3deg);
    float: right;
    margin: 0em 1em;
    border: 10px solid white;
}

.about-info-1 article{
    background-color: var(--lightPink);
}

.about-info-2 article{
    background-color: var(--orange);
}

.about-info-3 article{
    background-color: var(--darkOrange);
}

.about-page button{
    font-size: 1em;
    padding: 1em;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -1.3em;
}

#button-info-1 {
    /* margin-left: 8em; */
    margin-top: -4.1em;
    margin-left: -1em;
    position: absolute;
    background-color: var(--lightPink);
    border: none;
}

#button-info-2 {
    margin-top: -4.1em;
    margin-left: 5.5em;
    position: absolute;
    background-color: var(--orange);
    border: none;
}

#button-info-3 {
    margin-top: -4.1em;
    margin-left: 11.5em;
    position: absolute;
    background-color: var(--darkOrange);
    border: none;
}